* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgb(8, 163, 166) 0%,
    rgba(79, 166, 167, 0.849) 8%,
    rgba(61, 79, 94, 0.885) 40%,
    rgb(17, 19, 23)
  );
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  outline: none;
}

.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    font-family: 'Cabin', sans-serif;
    color: #ffeded;
    text-transform: uppercase;
    font-size: 7vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}